<!-- Template for App View -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [
            ['$$$', '$$$'],
            ['\\(', '\\)']
        ]
    }
});
</script>

<div class="container">
# EE2031 Liquid Adulteration Sensor

| Name | Matric Number |
| -- | -- |
| Joel Haowen **Tong** | A0108165J |
| Mohit **Shridhar** | A0105912N |

**Lab Group: Wednesday 2pm - 5pm**


## Problem

We wish to determine the purity of water in a given sample. We foresee a myriad of potential applications and scenarios where this ability would be highly valuable. When we refer to measuring 'purity', we are alluding to the ability to distinguish between clear water and water adulterated with moderately large impurities. We understand that judging the drinkability of water is another challenge in itself, so we are more focused on the areas of implementation which require the automation of detecting sizable particles or viscous liquids. The purity of a liquid is often determined through the use of slow, cumbersome processes. Some of these processes are listed below:

### Boiling water

The presence of minerals in water would cause changes in the boiling point and melting point of the liquid.  Hence inpure substances are unlikely to have a boiling point of exactly 100 degrees Celsius.  This involves waiting and boiling water - both of which are slow and waste energy.


### Testing for electrical conductivity

Pure water is non-conducting.  Certain impure substances, such as salt, make water more conductive.  The detection of higher conductivity might hence imply the presence of particles in water.

However, this does not necessarily happen for all impure substances.  Furthermore, electrolysis is an invasive process and renders the test water toxic (due to the presence of metal ions after testing).


### So what if...

We could instantly determine if water is pure, cheaply, effectively - without wasting water?

### Potential Applications:

The prospective applications of our device vary in a wide range of contexts.

**Water pipelines:**

Although our sensor is unable to determine the absolute drinkability of water in supply pipelines, it could still act as the first line of defense in detecting major contaminations caused leaks. Furthermore, our device could also be useful in detecting rust particulates in faucets before they reach a hazardous level.


**Quality control:**

Our sensor is able to detect minute particles within liquids.  This may be useful for companies exporting liquid subsances, for instance, ensuring that extra-virgin olive oil (the highest grade of olive oil) is free from olive seed particles during the pressing and refining process.


**Marine exploration:**

Underwater submersibles are often used to study the presence of organisms such as plankton, which are considered to be crucial for marine life food chains. Our device could serve as a low-cost sensor to detect large clouds of planktons (at high speed) before more comprehensive analyses can be carried out using proper equipment.

**Viscous Liquid Characterization:**

From our experimental observations, we have found that our product is reasonably good at characterizing different liquids when added in known amounts to clear water. This could serve as a quick & cheap way of identifying various liquids. Areas of application include: biochemistry, forensic science etc.

**Fish Tank:**

A rather peculiar application, but filters used for cleaning fish tanks might hugely benefit from live 'murkiness' readings to control the active feedback system.

**Cooking:**

Could be used to accurately measure ingredients mixed in liquids, to standardize cooking procedures.



## Our Solution and Theory

We propose a cost-effective solution to the problem at hand.  We argue that by directing an infrared light source through the container and collecting its response on the other, we can effectively and instantly detect the presence of many impure particles in water, through the use of infrared absoption.  Our solution was found to dectect pure from impure water readily - however minute - and in some cases, even detect the quantity of impurities within the liquid itself.  Our method is similar to infrared spectroscopy.


### Theory

Water is a special substance.  It is simiilar to a band-pass filter for light, allowing light within the visible spectra of 400nm - 700nm to pass through, and blocking other portions of light.  It is also able to allow the lower spectrum of infrared through itself.  The figure below shows this in action:

![](images/light_absorption.jpg)


Our surroundings do not appear to emit a sizeable amount of infrared light, as compared to the visible spectrum.  Therefore, by shining infrared light through water, most of the infrared light should be readily obtained.  An absence of infrared light would imply impure water, due to the absorption and "diffuse-scattering" of light particles.



## Circuit Design

Testing for water impurity was achieved with our circuit below.  In our design, we had a set-up that was similar to an opto-coupler.  Our circuit was markedly different from that of an opto-coupler, as it was designed to read analog inputs - opto-couplers are solely used to transmit and de-couple digital data.  Our proposed circuit was found to be highly sensitive to water impurities, and is successful.  The circuit is detailed below:

![](images/ckt-overview.png)

Our proposed circuit can be simplified by the following transfer function block diagram, given below.  It is powered by two voltage sources - a 5V and 15V supply:

$$
\text{INPUT_SIGNAL} \Rightarrow \text{VOLTAGE_SUBTRACTOR} \Rightarrow \text{VOLTAGE_AMPLIFIER} \Rightarrow \text{OUTPUT_SIGNAL}
$$

The input signal is significantly small.  In addition, it carries a certain small amount of offset $$$\Delta a$$$ with it.  This offset has to be removed prior to amplification, for if it is not, the amplified signal $$$v\_{out}$$$ would be wrongly given by:

$$
v\_{out\_{wrong}} = A\_m v\_{raw} = A\_m \Delta a + A\_m v\_i
$$

Where $$$v_{raw}$$$ is the raw voltage input, and $$$A_m$$$ is the amplification of the sensor.  The correct formula would hence be:

$$
v\_{out} = A\_m (v\_{raw} - \Delta a) = A\_m v\_i
$$

As a single op-amp voltage subtractor and voltage amplifier circuit exists (a voltage differentiator), the following transformation is directly simplified into the following transformation: 

$$
\text{INPUT_SIGNAL} \Rightarrow \text{VOLTAGE_DIFFERENTIATOR} \Rightarrow \text{OUTPUT_SIGNAL}
$$


### Generating the input signal

Our design involved connecting a series of Infrared LEDs (TIL83), that were within visible range of an Infrared Receiver (TIL81).  The sensor output signal was referenced by the voltage drop across the TIL81 photodiode.  This schematic is shown in the figure below:

![](images/ckt-input.png)


#### Generating a clean voltage input source

Our circuit includes components to provide a clean voltage input source.  This is necessary as, while our prototype utilizes a clean voltage supply, batteries in the commerical product might be suspect to certain quirks (e.g. voltage drops).  As our product is an analog sensor, having a constant voltage level ensures consistent performance in the field.

Our circuit does this through the use of two capacitors.  One capacitor has a higher capacitance, while the other has a lower capacitance.  This was done to anticipate both sudden and relatively more gradual changes in input voltage levels, as the responsiveness of a capacitor is given by the equation:

$$
V = V_0 \exp \left( \frac {-t} {RC} \right)
$$

Where $$$RC$$$ refers to the time constant, or rather the rate of discharge of the capacitor. 

The values chosen were $$$220nF$$$ and $$$0.68\mu F$$$ to anticipate small and relatively longer drops across the region.

This was similarly done for the 15V external supply.


#### Generating Infrared Light via the IR transmitters

4 TIL83s were connected in parallel.  Each had a resistor attached to it in series.  While it is more commercially viable to reduce costs by calculating the effective resistance and using a single resistor instead of using 4 resistors, this was not done.  Having such a set-up would result in complicating matters.  For instance, had a single LED degraded due to voltage spikes, the combined intensity of LEDs would change, resulting in the sensor being wrongly calibrated.

Multiple resistance values were tested for optimal brightness.  However, after validation through an infrared-enabled camera, the value of $$$22.1 \Omega$$$ was found to be the most suitable value for maximum brightness.  Having maximum brightness is essential, for infrared signals degrade rapidly in water, as shown by the graph in the **Background** section.


#### Detecting Infrared Light via the IR receiver

A TIL81 photodiode was used to detect Infrared light from the infrared emitters.  As the TIL81 acts as a transistor in reverse-bias mode, the TIL81 was connected as such.

The resistor in series was chosen to be $$$100k\Omega$$$.  The relatively much larger resistance as compared to the effective resistance of the infrared resistors ensures that output voltage readings are mapped to a 5V level scale.

In sum, the presence of light would correlate to a higher voltage reading, and conversely.  This reading constitutes the sensor reading, $$$v_{raw}$$$.

#### Output

Sensor output was put through an op-amp buffer, as a precautionary decoupling measure.



### Implementing the Transform Function

The transform function was implemented by a voltage differentiating amplifier.  The circuit design is able to utilize a single amplifier for voltage subtraction, and then amplification.  The equation is given below, with $$$R_1 = R_2$$$ and $$$R_3 = R_4$$$:

$$
V\_{out} = \frac {R_3} {R_1}(V_2 - V_1)
$$

Hence, the larger the gain $$$G = \frac {R_3} {R_1}$$$, the more sudden the change (similar to a digital output).  To detect gradual changes instead, we chose a gain of 4.  This led to values of $$$R_1 = 1k \Omega$$$, and $$$R_3 = 3.85k \Omega$$$.  The value of $$$R_1$$$ was chosen to yield varying gains during the experimentation process without replacing $$$R_1$$$ and $$$R_2$$$.

In our implementation of Sniffy, $$$V\_2 = V\_\text{SENSOR OUTPUT}$$$ and $$$V_1 = \frac{R_6}{R_5 + R_6} = 0.5357V$$$.  As changes in voltage level $$$V_2$$$ were highly sensitive to relatively minute changes in $$$V_1$$$, $$$V_1$$$ was experimentally determined by a potentiometer, before being fixed by resistors $$$R_5$$$ and $$$R_6$$$ that closely corresponded to the gain.  Similar to the sensor input, $$$V_2$$$ was put through a unity-gain decoupling op-amp buffer as well, to decouple the circuit.

This resulted in the output value given by the reference $$$v\_\text{out}$$$.



### Formatting the output and load

The output signal from the transform function $$$v\_{out}$$$ was then put through a buzzer.  In our experimentation, we found that the load must be around the range of $$$1M\Omega$$$.  A buzzer was found to be a suitable output for this range.

To limit the current output for safety reasons, a zener diode with a reverse breakdown rating of 10V was used in reverse-bias mode.  This ensured that output was kept at a maximum of 10V, with excess voltage draining to the Zener instead.  This ensured that the buzzer does not burn out.



#### Final prototype

Our final working prototype is given by the picture below.  It was found to be highly accurate in determining minute impure substances in water.  Some particles were even almost undetectable by the human eye!

Our set-up is given by the picture shown below.  A distance of 9.5cm in water was chosen, as that was the length of the container, obtained from Daiso.  The container was chosen to be of translucent material, to preserve readings.  The light transmitter and receiver must sit snugly within the container.

![](images/box.jpg)


###Signal Processing Characterization

The experimental properties of the signal processing circuit were verified through a LTSpice model. This simulation served as a means of validating the desired functionality of the device.

##### Simulated Characteristics

The results of our model (see 'Circuit Diagram' section for diagram):

![](plots/Simulated Signal Amplification.png)

Simulated Gain:

$$
A\_{v, simulation} = \frac{V\_{output}}{V\_{input}} =  -3.78424
$$

In the simulation, the IR receiver was replaced by its Thevenin equivalent circuit, i.e. a varying voltage source and a resistor. Note: this is not a completely accurate model. The DC sweep range of this source was set to: 0.013V - 4.6V (at 0.01 increments). This range was determined empirically using the actual prototype.

#####Experimental Characteristics

![](plots/Signal Amplification.png)

Real Gain:

$$
A\_{v, real} = \frac{V\_{output}}{V\_{input}} =  -3.47956
$$

Percentage Error = 8.05%. Although the simulated gain and the real gain are reasonably close to each other, the scales of the two characterizations are completely off. This is possibly because of the difference in the properties of the 'universal opamp' used in the simulation and the LM358 used in the prototype. Plus, the internal resistance of the voltage source (used for the experiment) wasn't considered in this analysis.

## Experiments

We segmented our investigation into three segments, namely `cloudy`, `jelly`, and `clear` substances.  Our findings show that the sensor responds measurably in all three categories, and is able to discern pure water from impure water.  It is more responsive and consistent however, with tinted substances than substances with particles (suspensions).  We will attempt to explain these findings in the sections that follow.

### Experimentation with cloudy substances

Tests found the system to highly responsive to minute particulates in the water.  The findings are as below.

#### Milo

Our first experiments involved cloudy substances.  They were chosen, as a sensible representative of dirt / mud in water.  One such ingredient of choice was Milo.

We define a `nibble` as the quantity of Milo given in the picture below:

![nibble](images/2014-04-02 15.56.51.jpg)

Milo was found to be irresponsive after 3 nibbles.  The cloudiness consistency, stopping bepping, is given by the following picture:

![](images/2014-04-02 15.59.14.jpg)

We believe the cloudiness is attributed to the presence of dried milk particles within the Milo packet.  These particles sufficiently reflected and blocked the infrared transmission of light.

It is also noted that that subsequent readings reached a voltage minimum, before steadily climbing to an indeterminate value.  We believe that this climb is attributed to the suspension of particles blocking the light medium on the occassion their paths crossed.


#### Flour

Flour was found to have a slightly more tolerant input.  Flour was chosen as it created a white suspension that might be expected to have better performance.

In our initial experiment with flour, the system was found to be extremely responsive to be measured quantatively.  To slow down the process of change, a more diluted sample was consistently added to our test sample of water.  The diluted flour suspension added had a concentration of 1 teaspoon of flour, in 1 cup of water.

![](plots/Flour.png)

However, the same readings persisted.  We found that the signal had completely died off (buzzer stopped beeping) after 2ml of the liquid was added.  A significant drop in the signal (buzzer amplitude) was even detectable after just 1ml of diluted liquid added to the pure water sample.

Hence, our tests show that the experiments are highly responsive to the addition of cloudy suspensions.  This might suggest its reponsiveness to detect mud / presence of minute microorganisms in water.

![cornflour](images/2014-04-08 11.10.37.jpg)



### Experimentation with pigmented liquids

The previous section dealt with mixing large particles in water. Now we look at how dissolving heavily pigmented liquids affect the circuit response.

#### Cola

![](plots/Cola.png)

The dark, carbonated liquid produced a linear reponse when quantized amounts of the drink were steadily added to clear water. To the visible eye, cola seems like an opaque liquid. But under the vision of a near-infrared camera, the substance becomes translucent:

![](images/coke IR.png "Cola in near-IR vision" "float:right;")

Nevertheless, the liquid is still distinct in the IR spectrum; cola absorbs IR radiation. And our experimental results concur with this phenomenon. As more amounts of the liquid were added, more radiation from the transmitter was intercepted by the solution. It's also important to note that the fizzy nature of the liquid has an effect on the circuit reponse (mildly). But we will deal with this in the next section.

Although we haven't experimented with a wide range of colors, it's reasonable to assume from this test that the absorbption of visible light has very little effect on the response. This is because the device mainly deals with IR spectroscopy, so technically the visible color of the liquid shouldn't have any direct effect on the output.


#### Soya Sauce

![](plots/Soya Sauce.png)

From the graph above, this everyday condiment seems to have exploited the entire output range of our signal processing circuit. Ignoring the clippings at the end, the correlation seems to be mostly linear. This occurrence is quite similar to that of cola & water. The only difference seems to be the stability of the linear gain. It might be that when IR radiation travels through carbonated cola, it gets inconsistently refracted by the erratic nature of the fizzy liquid. On the other hand, soya sauce is much more 'still' when compared to cola. So it's more likely to produce stable results. However, this experiment wasn't repeated to check for consistency, so it might as well be a fluke.


Pigmented liquids are perhaps the most interesting materials we have tested, because they highlight one of the unique features about our product. That is the ability to discern particles, which might not be apparent in the visible spectrum. Imagine if there is a need to detect large particles inside dark liquids. Normal cameras or LDRs might not be useful. We know from the previous section that our device is very sensitive to large particles. And now we know that it can also see through seemingly opaque liquids. So by our observations this device should perform very well under such needs.








### Experimentation with clear liquids

#### Sprite

![](plots/Sprite.png)

Sprite doesn't seem to be very effective in changing the response of the device. Nonetheless, there is still a noticeable difference between the voltage readings of clear water and that of water mixed with Sprite. The only phenomenon we can deduce/confirm from this experiment is the effect of 'fizzy' liquids, as mentioned in the previous section. Refraction supposedly has a perceptible effect on the amount IR radiation that passes through the solution.

### Gelatinous / Viscous tinted substances

Jelly crystals substituted our test for impurities in water.  We fond that while the system was able to detect the prtesence of jelly crystals from pure water, it was not as efficient in determining the amount of such crystals present.

![](plots/Jelly Crystals.png)

Pure water gave a reading of 2.318V.  However, from the graph, subsequent additions hovered between 1.768V to 1.87V.  The lack of reponsiveness in the system suggests that infrared light is not being blocked by the tinted substance - explanable as the jelly was purplish-blue in color and should have only absorbed light in the spectrum of $$$\approx 400\,nm$$$.

![](images/2014-04-08 10.43.16.jpg)

### Limitations & Improvements

Although we have exhibited promising experimental results, will still need to explore the limitations of our device.

#### Tinted solutions

Tests with Jelly crystals suggest that our sensor might not be adequate in detecting the concentration of solutions which are tinted or colorless or nature, for example Sprite and Pepsi.  This might be accounted for, as substances such as coke may be absorb light due to its specific chemical composition.

As our sensor is able to instead detect minute quantites of particles in a solution, this might however be a good instant litmus test for the presence of impure water (as compared to measuring the boiling point of water which takes time, etc.), Quality-Control checks (for instance, determining minute quantities of impurities in brand oil).


#### Large Particles

As demonstrated by the experiments, our device is very sensitive to large particles. In such cases, it will perform as a simple digital sensor distinguishing between only two possible states: completely clear & murky. This degrades the functionality of the product and limits the scope of its application. This limitation also highlights one of the potential flaws in the current setup. Since only one IR receiver is used to process the incoming radiation, it might be possible that a large chunk of material is specifical blocking the receiver area, while other portions of the liquid are completely clear. To improve the reliability of the readings, we should consider placing an array of transmitters and receivers across the container. Then data from all the components should be collated and normalized.

#### Temperature

The context of the application is very crucial to the functionality of the device. Suppose the 'shoe-box' prototype is placed outside under the IR cast of the sun. Will the experimental results be consistent with those presented in this report? Possibly not. But does this effect render the circuit response unusable? We don't know. Any object that is above absolute zero emits IR radiation, and this can be picked up by the IR receiver. But the magnitude of this response has to be experimentally verified. This can be done easily by using a water bath and a LM35 to measure the temperature and correspondingly find its relationship to the output voltage.


#### Power supply

Currently the device relies on a voltage generator to produce the required 5V and 14V. Of course, we can use a different opamp that is specifically designed for low supply voltages. However, this will reduce the resolution of the output and make it slightly more susceptible to noise. If we want to make the device truly portable, we must replace the voltage source with batteries. But all these factors depend on the requirements of the application. In some cases, a simple instrumentation amplifier might be a sufficient substitute for the current signal processing circuit (this might reduce the voltage supply requirements).

A possible remedy would be the use of a different surface-mounted variant, which would use less power, as well as additional smoothing capacitors to ensure a cleaner yet portable power supply.


</div>
